*, 
*::before,
*::after,
body {
    box-sizing: border-box;
    /* background-color: darkblue; */
}

body {
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #000033;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    text-align: center;
    font-size: 5rem;
    padding-top: 0;
    margin-top: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.outer-container {
    height: 100vh;
    align-items: center;
    /* Temp */
    /* background-color: rgb(117, 153, 161); */
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.inner-container {
    width: 50%;
    height: 500px;
    /* background: rgb(235, 179, 116); */
}

.img-container {
    background: #fff;
    /* height: 100%; */
    border-radius: 5px;
}

.quote-container {
    padding: 1%;
    font-size: 1.5rem;
    /* background: orange */
}

.button-container {
    /* background: salmon; */
    justify-content: flex-end;
    align-items: center;
}

.d-none {
    display: none;
}

/* Helper Utilitlies */
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column { 
    flex-direction: column;
}

.btn {
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.btn:first-child {
    margin-right: 2rem;
}
