/* 
#df0000	(223,0,0) Red
#f2c300	(242,195,0) Gold
#0099f6	(0,153,246) Blue
#00b844	(0,184,68) Gree
#000000 Space

*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 1.5em;
}

.btn {
    display: inline;
    padding: 15px 30px;
    border: 3px solid #ccc;
    text-decoration: none;
    cursor: pointer;
}

#grid {
    /* background-color: yellow; */
    /* border: 2px solid #000; */
    border-radius: 10px;
    width: 800px;;
    margin: 8% auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 300px 50px; 
    grid-template-areas: 
    "img quote"
    "img social"
    ;
    grid-gap: 10px;
    padding: 1%;

}

div.img-holder {
    grid-area: img;
    /* border: 3px solid #ccc; */
    border-radius: 10px;
}

div.quote-box {
    grid-area: quote;
    /* background: green; */
    padding: 2%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 10%;
    grid-template-areas:
    "q"
    "b"
    ;
}

.quote-box div:first-child {
    grid-area: q;
    /* background: pink; */
}

.quote.box div:last-child {
    grid-area: b;
    /* background: aquamarine; */
}

#author {
    text-align: right;
    font-weight: 400;
    font-size: 1.5em;
}

#quote {
    text-align: center;
    font-weight: 600;
}


div.button-bar {
    grid-area: social;
    /* background: blue; */
    padding: 2%;
}

.img-holder img {
    height: 200px;
}

.img-holder {
    text-align: center;
}
